
/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #333; /* Dark grey */
}

label {
    color: #333; /* Grey */
}

button {
    background-color: #007bff; /* Blue */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3; /* Dark blue */
}

.chart {

}

.top-bar {
  padding-top: 30px;
  padding-bottom:30px;
  text-align: center;
}

.styled-label {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.stock-search-bar {
  position: relative;
  display: inline-block;
}

/* Style the input field */
.stock-search-bar input {
  border: 1px solid #ddd;
  padding: 10px;
  width: 300px;
  font-size: 16px;
}

/* Dropdown container */
.autocomplete-items {
  position: absolute;
  border: 1px solid #ddd;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  max-height: 200px;
  overflow-y: auto;
}

/* Style the dropdown items */
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

/* Style the selected item */
.autocomplete-items div:hover {
  background-color: #f1f1f1;
}

