
/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #333; /* Dark grey */
}

label {
    color: #333; /* Grey */
}

button {
    background-color: #007bff; /* Blue */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3; /* Dark blue */
}

.chart {

}

.top-bar {
  padding-top: 30px;
  padding-bottom:30px;
  text-align: center;
}

.styled-label {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.stock-search-bar {
  position: relative;
  display: inline-block;
}

/* Style the input field */
.stock-search-bar input {
  border: 1px solid #ddd;
  padding: 10px;
  width: 300px;
  font-size: 16px;
}

/* Dropdown container */
.autocomplete-items {
  position: absolute;
  border: 1px solid #ddd;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  max-height: 200px;
  overflow-y: auto;
}

/* Style the dropdown items */
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

/* Style the selected item */
.autocomplete-items div:hover {
  background-color: #f1f1f1;
}

.heading {
  color: #007BFF; 
  text-align: center;
  font-size: 20px; 
}

.sub-heading {
  color: #7dacde; 
  text-align: center;
  font-size: 15px; 
}
.paragraph {
  color: #000000; 
  text-align: left;
  font-size: 15px;
  margin-left: 150px; 
  margin-right: 150px;
}

.box-container {
  display: flex;
  justify-content: space-between; /* Equal space between items */
  margin-left: 100px;
  margin-right: 100px; /* Optional margin for spacing around the container */
}

.box {    
  /* border:2px solid#0056b3; */
  width: 30px; /* Make the box width fit its content */
  display: inline-block; /* Display as inline-block to wrap the text inside */
  text-align: center; 
  height: 70px;
}

.box-heading {
  color: #7dacde; 
  text-align: center;
  font-size: 15px; 
  height:20px;
}

.box-sub-heading {
  color: #7dacde; 
  text-align: center;
  font-size: 20px; 
  height:30px;
}