<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style_dashboarear.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Trading Analyzer, {{ username }}</h1>
    </header>
    <div class="container">
        <aside>
            <form id="dateRangeForm" action="/dashboard" method="post">
                <h2>Enter Date Range</h2>
                <div class="form-group">
                    <label for="startDate">Start Date:</label>
                    <input type="date" id="startDate" name="startDate">
                </div>
                <div class="form-group">
                    <label for="endDate">End Date:</label>
                    <input type="date" id="endDate" name="endDate">
                </div>
                <div class="form-group">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </aside>
        <main>
            <canvas id="chart"></canvas>
        </main>
    </div>
</body>
</html>
