<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style_dashboard.css') }}">
    <link rel="shortcut icon" href="#">
    
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.1/dist/chart.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-financial"></script>

    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom/dist/chartjs-plugin-zoom.min.js"></script>
</head>
<body>
    <header>
        <h1>Welcome to Trading Analyzer, {{ username }}</h1>
    </header>
    <div class="container">
        <aside>
          <form id="stock_form" onsubmit="event.preventDefault()">
            <div class="form-group">
              <input type="text" id="stock-symbol" name="stock-symbol" placeholder="Stock Symbol" required>
            </div>
            <div class="form-group">
              <label class="styled-label">Select Period</label>
              <select id="period" name="period">
                <option value="1d">1 day</option>
                <option value="5d">5 day</option>
                <option value="1mo">1 month</option>
                <option value="3mo">3 month</option>
                <option value="6mo">6 months</option>
                <option value="6mo">6 months</option>
                <option value="1y">1 year</option>
                <option value="max">Max</option>
              </select>
            </div>
            <div class="form-group">
              <label class="styled-label">Select Interval</label>
              <select id="interval" name="interval">
                <option value="1m">1 minute</option>
                <option value="2m">2 minutes</option>
                <option value="5m">5 minutes</option>
                <option value="15m">15 minutes</option>
                <option value="30m">30 minutes</option>
                <option value="60m">60 minutes</option>
                <option value="90m">90 minutes</option>
                <option value="1d">1 day</option>
                <option value="5d">5 days</option>
                <option value="1wk">1 week</option>
                <option value="1mo">1 month</option>
              </select>
            </div>
            <div class="form-group">
              <button id="update">Update</button>
              <button id="reset-zoom">Reset Zoom</button>
            </div>
          </form>
        </aside>
        <main>    
          <canvas id="myChart"></canvas>
        </main>
        <script src="{{ url_for('static', filename = 'plot_chart.js') }}"></script>
    </div>

</body>
</html>
